.drawer-container{
    display: flex;
    flex-direction: column;
    align-content: stretch;
    flex: 1 1 10em;
    padding: 1em 1em 1em 1em;
}

.drawer-item{
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    justify-content: center;
    text-align: center;
    background-color: beige;
    border: 0.5px solid lightgray;
    height: 2em;
}

.drawer-item:hover {
    border-radius: 1em;
    background-color: gray;
    color: white;
    cursor: pointer;
}

.content-container{
    display: flex;
    flex: 5 1 60em;
    flex-direction: column;
    background-color: burlywood;
    justify-content: center;
    align-content: stretch;
}

.chart-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex: 0 0 3em;
    padding: 0.5em;
}

.chart-container{
    flex: 0 0 40em;
    flex-direction: column;
    background-color: burlywood;
    justify-content: center;
    align-content: stretch;
    text-align: center;
}



